<div class="container">
  <div class="friends-btn">
    <button class="btn btn-primary my-1" >
      <i class="fa fa-user" style="font-size: 18px"></i> Add New Burger Item</button>
  </div>
  <table class="table table-bordered table-striped table-dark">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Size</th>
      <th>Price</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of burgers">
      <td><span>{{friend.id}}</span></td>
      <td><span>{{friend.name}}</span></td>
      <td><span>{{friend.size}}</span></td>
      <td><span>{{friend.price}}</span></td>
      <td>
        <div class="text-center">
          <button class="btn btn-sm btn-info me-3">
            <i class="fa fa-search friends-btn" style="font-size: 18px"></i>Details</button>
          <button class="btn btn-sm btn-warning me-3">
            <i class="fa fa-edit friends-btn" style="font-size: 18px"></i>Edit</button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-remove friends-btn" style="font-size: 18px"></i>Delete</button>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>
